body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;

}
header {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
    text-align: center;
}

button {
    background: grey;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor:  pointer;
    font-size:  16px;


}

button:hover {
    background: lightblue;
}